<% provide(:title, "Signin - ") %>
<% if request.smart_phone? %>
  <h2>ログイン</h2>
<% else %>
  <h1>ログイン</h1>
<% end %>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>
	  <%= f.label :Eメール %>
	  <%= f.text_field :email %>

	  <%= f.label :パスワード %>
	  <%= f.password_field :password %>

	  <%= f.submit "ログイン", class: "btn btn-large btn-primary" %>
	<% end %>

	<p>未登録の方は <%= link_to "こちら", signup_path %> からご登録ください</p>
  </div>
</div>
