<% provide(:title, 'Top Page - ') %>
<% if current_user.nil? %>
<p>
  <b>Title:</b>
  サンプルアルバム
</p>

<p>
  <b>Content:</b>
  トップページ用のサンプル写真
</p>

<p>
  <b><%= link_to 'Zip', '#' %>:</b>
  Total 3 pics
    / Last Update 2012-10-08 05:45:16 UTC
</p>
<center>
<div class="flexslider">
  <ul class="slides">
	  <li>
	    <img src="top/RIMG0100.JPG" width="600">
	  </li>
	  <li>
	    <img src="top/RIMG0267.JPG" width="600">
	  </li>
	  <li>
	    <img src="top/RIMG0440.JPG" width="600">
	  </li>
 </ul>
</div>
</center>
<br />
<br />
<br />
<div class="alert alert-info">
<strong>PictCollectで写真の共有をもっと簡単に</strong><br />
レジャー、冠婚葬祭、日々の記録を、アルバムごとにパスワードをつけて保存できます
</div>
<% if !request.smart_phone? %>
<br />
<br />
<% end %>
<center>
<%= link_to 'アカウント登録はこちらから', signup_path, class: "btn btn-primary btn-large " %>
<% if request.smart_phone? %>
  <br /><br /><%= link_to '　　ログインはこちらから　', signin_path, class: "btn btn-large" %>
<% else %>
  <%= link_to 'ログインはこちらから', signin_path, class: "btn btn-large" %>
<% end %>
</center>
<% if !request.smart_phone? %>
<br />
<br />
<% end %>
<% else %>
<h1>ユーザリスト</h1>

<%= will_paginate %>

<ul class="users">
  <% @users.each do |user| %>
    <%= render user %>
  <% end %>
</ul>

<%= will_paginate %>
<% end %>
