<% provide(:title, "#{@user.name} - ") %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="span8">
    <% if @user.albums.any? %>
      <h3>Albums (<%= @user.albums.count %>)</h3>
      <ol class="albums">
        <%= render @albums %>
      </ol>
      <%= will_paginate @albums %>
    <% end %>
  </div>
</div>

<% if signed_in? %>
  <section>
	<a href="/albums/new" class="btn ">Create Album</a>
  </section>
<% else %>
  <div class="center hero-unit">
    <%= link_to "Sign up now!", signup_path,
						class: "btn btn-large btn-primary" %>
  </div>
<% end %>
