<h1>Listing albums</h1>

<table class="table ">
  <tr class="success">
    <th>Album ID</th>
    <th>User</th>
    <th>Title</th>
    <th>Content</th>
    <th>Show</th>
    <th>Edit</th>
    <th>Delete</th>
    <th>State</th>
  </tr>

<%= will_paginate %>
<ul class="albums">
<% @albums.each do |album| %>

    <% if album.ncc == 0 %><tr class="success">
	<% elsif album.ncc == 1 %><tr class="info">
	<% elsif album.ncc == 2 %><tr class="warning">
	<% else %><tr class="error">
	<% end %>
    <td><%= album.id %></td>
    <td><%= link_to User.find_by_id(album.user_id).name, User.find_by_id(album.user_id) %></td>
    <td><%= album.name %></td>
    <td><%= album.content %></td>
	<% if ((album.ncc == 0 || album.ncc == 1) || signed_in? && (current_user.id == album.user_id || current_user.admin == true)) || (!current_album.nil? && (current_album.id == album.id)) %>
    <td><%= link_to 'Show', album, class: "btn"  %></td>
	<% else %>
	<td><%= link_to 'Login', album_signin_path, class: "btn" %></td>
	<% end %>
    <% if (signed_in? && (current_user.id == album.user_id || current_user.admin == true)) %>
		<td>
			<%= link_to 'Edit', edit_album_path(album), class: "btn" %>
 		</td>
		<td>
			<%= link_to 'Delete', album, confirm: 'Are you sure?', method: :delete, class: "btn" %>
		</td>
	<% else %>
		<td></td><td></td>
	<% end %>
	<td><% if album.ncc == 0 %>参照・変更可能
		<% elsif album.ncc == 1 %>参照のみ可能
		<% elsif album.ncc == 2 %>ログインして参照・変更可能
		<% elsif album.ncc == 3 %>ログインして参照のみ可能
		<% end %>
	</td>
  </tr>
<% end %>
</ul>
<%= will_paginate %>
</table>

<br />

