<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @album.name %>
</p>

<p>
  <b>Content:</b>
  <%= @album.content %>
</p>


<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>



<h1>Photos</h1>

<center>
<%= @album.id %>

<div class="flexslider">
  <ul class="slides">
	<% @album.photos.each do |photo| %>
	  <li>
	    test 
	    <%= link_to image_tag(photo.photo.url(:large)), photo.photo.url(:original) %>
	  </li>
	<% end %>
 </ul>
</div>

<%= @album.photos.count %>
<br /><br /><br /><br /><br />
<input type="file" name="uploadify" id="uploadify" />
<input type="hidden" name="aid" value="<%= @album.id %>" />
<center>
<div id="file_queue"></div>
<%= javascript_include_tag 'swfobject' %>
<%= javascript_include_tag 'jquery.uploadify.v2.1.0.min' %>
<%- session_key = Rails.application.config.session_options[:key] -%>
<br />

<script type="text/javascript">
$(function() {
 var uploader = $("#uploadify");
 uploader.uploadify({
 'uploader'       : '/javascripts/uploadify.swf',
 'script'         : '/photos',
 'queueID'        : 'file_queue',
 'cancelImg'      : '/images/cancel.png',
 'auto'           : true,
 'multi'          : true,
 'scriptData'     : {
   '_method'            : 'post',
   'aid'                : '<%= @album.id %>',
   '<%= session_key %>' : encodeURIComponent('<%=u cookies["_session_id"] %>'),
   'authenticity_token' : encodeURIComponent('<%=u form_authenticity_token %>')
 }
 });
});
</script>


