<% provide(:title, "#{@album.name} - ") %>
<p id="notice"><%= notice %></p>

<p>
  <b>タイトル:</b>
  <%= @album.name %>
</p>

<p>
  <b>メモ:</b>
  <%= @album.content %>
</p>

<p>
  <b><%#= link_to 'ダウンロード', 'http://pictcollect.dip.jp/system/pict_share/zips/' + @album.id.to_s + '_' + @album.name + '_' + @album.directory_strings + '.zip' %>:</b>
  Total <%= @album.photos.count %> pics
  <% if @album.photos.count > 0 %>
    / Last Update
    <%=@album.photos.last.updated_at %>
  <% end %>
</p>
<% if !current_user.nil? && @album.user_id == current_user.id %>
  <%= link_to 'Edit', edit_album_path(@album), class: "btn btn-link" %> 
<% end %>



<br />
<ul class="snsb">

<li>
<% facebook_link = "http://pictcollect.dip.jp/albums/" + @album.id.to_s %>
<div class="fb-like" align="right" data-href="<%= facebook_link %>" data-send="true" data-layout="button_count" data-width="450" data-show-faces="true" data-font="arial"></div>
</li>
<li>
<a href="https://twitter.com/share" class="twitter-share-button" data-via="pictcollect">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</li>
</ul>

<center>

<div class="flexslider">
  <ul class="slides">
	<% @album.photos.each do |photo| %>
	  <li>
	    <%#= image_tag(photo.photo.url(:large)) %>
	    <%= link_to image_tag(photo.photo.url(:large)), photo.photo.url(:original) %>
	    <%#= image_tag(photo.photo.url(:large)) %>
	  </li>
	<% end %>
 </ul>
</div>

<br /><br /><br /><br /><br />
<% if (!current_user.nil? && current_user.id == @album.user_id) || @album.ncc == 0 || @album.ncc == 2 %>
<input type="hidden" name="aid" value="<%= @album.id %>" />
</center>
<% end %>
password
<% @album.password = "password" %>
<% @album.password_confirmation = "password" %>
name again
<%= @album.name %>
<%= form_for @album, :url => {:action => 'add_photos'}, :html => { :multipart => true } do |f| %>
<%#= form_for @album, :html => { :multipart => true } do |f| %>
  <input type="hidden" name="aid" value="<%= @album.id %>" />
  <%= file_field_tag('album_photos_photo', multiple: true, name: "album[photos_attributes][][photo]") %>
  <!--
  <input type="password" id="album_password" name="password" value="password" />
  <input type="password" id="album_password_confirmation" name="password_confirmation" value="password" />
  -->
	<%= f.button :submit %>
<% end %>
