<% provide(:title, "#{@album.name} - ") %>
<p id="notice"><%= notice %></p>

<p>
  <b>タイトル:</b>
  <%= @album.name %>
</p>

<p>
  <b>メモ:</b>
  <%= @album.content %>
</p>

<p>
  <b><%#= link_to 'ダウンロード', 'http://pictcollect.dip.jp/system/pict_share/zips/' + @album.id.to_s + '_' + @album.name + '_' + @album.directory_strings + '.zip' %>:</b>
  Total <%= @album.photos.count %> pics
  <% if @album.photos.count > 0 %>
    / Last Update
    <%=@album.photos.last.updated_at %>
  <% end %>
</p>
<% if !current_user.nil? && @album.user_id == current_user.id %>
  <%= link_to 'Edit', edit_album_path(@album), class: "btn btn-link" %> 
<% end %>



<br />
<ul class="snsb">

<li>
<% facebook_link = "http://pictcollect.dip.jp/albums/" + @album.id.to_s %>
<div class="fb-like" align="right" data-href="<%= facebook_link %>" data-send="true" data-layout="button_count" data-width="450" data-show-faces="true" data-font="arial"></div>
</li>
<li>
<a href="https://twitter.com/share" class="twitter-share-button" data-via="pictcollect">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</li>
</ul>

<center>

<div class="flexslider">
  <ul class="slides">
	<% @album.photos.each do |photo| %>
	  <li>
	    <%#= image_tag(photo.photo.url(:large)) %>
	    <%= link_to image_tag(photo.photo.url(:large)), photo.photo.url(:original) %>
	    <%#= image_tag(photo.photo.url(:large)) %>
	  </li>
	<% end %>
 </ul>
</div>
</center>

<br /><br /><br /><br /><br />

<style type="text/css">
.bar {
  height: 18px;
  background: green:
}
</style>

<% if (!current_user.nil? && current_user.id == @album.user_id) || @album.ncc == 0 || @album.ncc == 2 %>

  <%#= form_for @album, :url => {:action => 'add_photos'}, :remote => true, :html => { :multipart => true }, class: "btn btn-primary" do |f| %>
  <%= form_for @album, :url => {:action => 'add_photos'}, :html => { :multipart => true } do |f| %>
  <%= file_field_tag('album_photos_photo', multiple: true, name: "files[]") %>
  <output id="list"></output>
  <button id="submit_button" type="submit" class="btn btn-primary">アップロード</button>
  <% end %>
  <!-- The global progress information -->
  <div id="progress">
    <div class="bar" style="width: 0%;"></div>
  </div>
<% end %>


<script>
  function handleFileSelect(evt) {
    var files = evt.target.files; // FileList object

    // files is a FileList of File objects. List some properties.
    var output = [];
    for (var i = 0, f; f = files[i]; i++) {
      output.push('<li><strong>', escape(f.name), '</strong> (', f.type || 'n/a', ') - ',
                  Math.floor(f.size / 1024), 'KB, last modified: ',
                  f.lastModifiedDate.toLocaleDateString(), '</li>'
                 );
    }
    document.getElementById('list').innerHTML = '<ul>' + output.join('') + '</ul>';
  }

  document.getElementById('album_photos_photo').addEventListener('change', handleFileSelect, false);
//  document.getElementById('submit_button').addEventListener('click', handleFileSelect, false);

//  function handleSubmitButton(
/*
  $('#album_photos_photo').fileupload({
    progressall: function (e, data) {
        var progress = parseInt(data.loaded / data.total * 100, 10);
        $('#progress .bar').css(
            'width',
            progress + '%'
        );
    }
    document.getElementById('list2').innerHTML = '<ul>yes</ul>';
  });
*/
</script>
