<% provide(:title, "#{@album.name} - ") %>
<p id="notice"><%= notice %></p>

<p>
  <b>タイトル:</b>
  <%= @album.name %>
</p>

<p>
  <b>メモ:</b>
  <%= @album.content %>
</p>

<p>
  <b>アルバム情報:</b>
  Total <%= @album.photos.count %> pics
  <% if @album.photos.count > 0 %>
    / Last Update
    <%=@album.photos.last.updated_at.in_time_zone('Tokyo').strftime("%Y-%m-%d %H:%M:%S") %>
  <% end %>
</p>
<% if !request.smart_phone? %>
 <%= link_to 'ダウンロード', 'http://pictcollect.link/system/pict_share/zips/' + @album.id.to_s + '_' + @album.directory_strings + '.zip', class: "btn btn-link" %>
<% end %>
<% if !current_user.nil? && @album.user_id == current_user.id %>
  <%= link_to 'Edit', edit_album_path(@album), class: "btn btn-link" %> 
<% end %>

<br />
<ul class="snsb">

<li>
<% facebook_link = "http://pictcollect.link/albums/" + @album.id.to_s %>
<div class="fb-like" align="right" data-href="<%= facebook_link %>" data-send="true" data-layout="button_count" data-width="450" data-show-faces="true" data-font="arial"></div>
</li>
<li>
<a href="https://twitter.com/share" class="twitter-share-button" data-via="pictcollect">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</li>
</ul>

<div class="flexslider">
  <ul class="slides">
  <% @album.photos.each do |photo| %>
    <li>
      <%#= image_tag(photo.photo.url(:large)) %>
      <%#= link_to image_tag(photo.photo.url(:large)), photo.photo.url(:original) %>
      <%= image_tag(photo.photo.url(:large)) %>
      <div align="right"><%= link_to "オリジナルサイズでみる", photo.photo.url(:original) %> </div>
    </li>
  <% end %>
 </ul>
</div>

<br /><br /><br /><br /><br />

<style type="text/css">
  #progress {
    background: #eee;
    border: 1px solid #222;
    margin-top: 20px;
  }
  #progressbar {
    width: 0px;
    height: 24px;
    background: #333;
  }
</style>

<% if (!current_user.nil? && current_user.id == @album.user_id) || @album.ncc == 0 || @album.ncc == 2 %>

<%= form_for @album, :url => {:action => 'add_photos'}, :html => {:multipart => true, :id => "image-new-form"}, :remote => true, class: "btn btn-primary" do |f| %>
    <%= file_field_tag('album_photos_photo', multiple: true, name: "files[]") %>
    <div class="actions">
    <output id="submit_button"></output>

	<!-- display upload progress -->
    <div class="hide" id="image-new-progress-message">
      画像の登録中です...
      <div class="progress progress-striped active">
        <div class="bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
    <div class="alert alert-dismissable alert-danger hide" id="image-new-error-message">
      <button type="button" class="close" data-dismiss="alert">×</button>
      画像の登録に失敗しました。
    </div>
    <div class="alert alert-dismissable alert-success hide" id="image-new-success-message">
      <button type="button" class="close" data-dismiss="alert">×</button>
      画像の登録に成功しました。<%= link_to "ページを更新します。" %>
    </div>

    <output id="list"></output>

    </div>
  <% end %>

<% end %>
<br />

<div id="modal-content">
  <p>「閉じる」か「背景」をクリックするとモーダルウィンドウを終了します。</p>
  <img src="../system/pict_share/149_98785ca89cfbbe933921bfe68a94553b/photos/6415/original/6415_12033302_10207016142577089_1842808746_n.jpg">
  <p><a id="modal-close" class="button-link">閉じる</a></p>
</div>

<div id="modal-overlay"></div>
<p><a id="modal-open" class="button-link">クリックするとモーダルウィンドウを開きます。</a></p>

<script>
  function handleFileSelect(evt) {
    document.getElementById('submit_button').innerHTML = '<button type="submit" class="btn btn-primary">アップロード</button>';
    var files = evt.target.files; // FileList object

    // files is a FileList of File objects. List some properties.
    var output = [];
    for (var i = 0, f; f = files[i]; i++) {
      output.push('<li><strong>', escape(f.name), '</strong> (', f.type || 'n/a', ') - ',
                  Math.floor(f.size / 1024), 'KB, last modified: ',
                  f.lastModifiedDate.toLocaleDateString(), '</li>'
                 );
    }
    document.getElementById('list').innerHTML = '<ul>' + output.join('') + '</ul>';
  }
  document.getElementById('album_photos_photo').addEventListener('change', handleFileSelect, false);

$(function() {
    $('form').uploadProgress({
    /* scripts locations for safari */
    jqueryPath: "/assets/jquery.js",
    uploadProgressPath: "/assets/jquery.uploadProgress.js",
    });
});

$("#image-new-form").on("ajax:error", function() {
  $("#image-new-error-message").removeClass('hide').show();
  $("#image-new-success-message").hide();
  $("#image-new-progress-message").hide();
}).on("ajax:success", function() {
  $("#image-new-error-message").hide();
  $("#image-new-success-message").removeClass('hide').show();
  $("#image-new-progress-message").hide();
}).on("ajax:before", function() {
  $("#image-new-error-message").hide();
  $("#image-new-success-message").hide();
  $("#image-new-progress-message").removeClass('hide').show();
  setTimeout(function(){
    var currentPercentage = 0;
    var progress = setInterval(function() {
        if (currentPercentage == 100) {
            clearInterval(progress);
        } else {
            currentPercentage += 5;
            $("#image-new-progress-message .bar").css('width', (currentPercentage) + '%').attr('aria-valuenow', currentPercentage);
        }
        $("#image-new-progress-message .bar").text((currentPercentage) + '%');
    }, 500);
 }, 1000);
});

$(function(){
  
  $("#modal-open").click( function(){
console.log('click detected');
      //キーボード操作などにより、オーバーレイが多重起動するのを防止する
      $( this ).blur() ;//ボタンからフォーカスを外す
  console.log('click detected');
  console.log($("#modal-overlay")[0]);
      //if( $( "#modal-overlay" )[0] ) return false ;//新しくモーダルウィンドウを起動しない (防止策1)
          if($("#modal-overlay")[0]) $("#modal-overlay").remove() ;//現在のモーダルウィンドウを削除して新しく起動する (防止策2)
    console.log('after if');      
          //オーバーレイを出現させる
          $( "body" ).append( '<div id="modal-overlay"></div>' ) ;
  console.log('body append');
          $( "#modal-overlay" ).fadeIn( "slow" ) ;
console.log('modal-overlay');          
          //コンテンツをセンタリングする
          centeringModalSyncer() ;
console.log('centering');          
          //コンテンツをフェードインする
          $( "#modal-content" ).fadeIn( "slow" ) ;
console.log('fadein');          
          //[#modal-overlay]、または[#modal-close]をクリックしたら…
          $( "#modal-overlay,#modal-close" ).unbind().click( function(){
console.log('close click detected');          
              //[#modal-content]と[#modal-overlay]をフェードアウトした後に…
              $( "#modal-content,#modal-overlay" ).fadeOut( "slow" , function(){
                  //[#modal-overlay]を削除する
                  $('#modal-overlay').remove() ;
              } ) ;

          } ) ;

      } ) ;

  //リサイズされたら、センタリングをする関数[centeringModalSyncer()]を実行する
  $( window ).resize( centeringModalSyncer ) ;

  //センタリングを実行する関数
  function centeringModalSyncer() {

      //画面(ウィンドウ)の幅、高さを取得
      var w = $( window ).width() ;
      var h = $( window ).height() ;
      
      // コンテンツ(#modal-content)の幅、高さを取得
      // jQueryのバージョンによっては、引数[{margin:true}]を指定した時、不具合を起こします。
      //var cw = $( "#modal-content" ).outerWidth( {margin:true} );
      //var ch = $( "#modal-content" ).outerHeight( {margin:true} );
      var cw = $( "#modal-content" ).outerWidth();
      var ch = $( "#modal-content" ).outerHeight();
      
      //センタリングを実行する
      $( "#modal-content" ).css( {"left": ((w - cw)/2) + "px","top": ((h - ch)/2) + "px"} ) ;

  }
} ) ;
  
</script>
