<h1>Photos</h1>
<div class="flexslider">
  <ul class="slides">
	<% @photos.each do |photo| %>
	  <li>
	    <%= image_tag photo.photo.url %>
	  </li>
	<% end %>
 </ul>
</div>

<input type="file" name="uploadify" id="uploadify" />
<div id="file_queue"></div>
<%= javascript_include_tag 'swfobject' %>
<%= javascript_include_tag 'jquery.uploadify.v2.1.0.min' %>
<%- session_key = Rails.application.config.session_options[:key] -%>
<br />

<script type="text/javascript">
$(function() {
 var uploader = $("#uploadify");
 uploader.uploadify({
 'uploader'       : '/javascripts/uploadify.swf',
 'script'         : '/photos',
 'queueID'        : 'file_queue',
 'cancelImg'      : '/images/cancel.png',
 'auto'           : true,
 'multi'          : true,
 'scriptData'     : {
   '_method'            : 'post',
   '<%= session_key %>' : encodeURIComponent('<%=u cookies["_session_id"] %>'),
   'authenticity_token' : encodeURIComponent('<%=u form_authenticity_token %>')
 }
 });
});
</script>


