<% provide(:title, "Album Signin - ") %>
<h1>アルバムログイン</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(:album_session, url: album_sessions_path) do |f| %>

	  <%= f.label :id, "アルバムID" %>
	  <%= f.text_field :id %>

	  <%= f.label :password, "パスワード" %>
	  <%= f.password_field :password %>

	  <%= f.submit "アルバムログイン", class: "btn btn-large btn-primary" %>
	<% end %>

  </div>
</div>

